<footer class="footer container-fluid">
  <div class="row">

    <div class="col d-flex justify-content-center">

      <ul class="footer-links">
        <h4 class="">About</h4>
        <li><a href="#">About CityGetAway</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Terms Of Service</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Content Guidelines</a></li>


      </ul>
    </div>
    <div class="col  d-flex justify-content-center">

      <ul class="footer-links">
        <h4>Discover</h4>
        <li><a href="#">Events</a></li>
        <li><a href="#">Collections</a></li>
        <li><a href="#">CityGetAway Mobile</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">Suppoprt</a></li>
      </ul>
    </div>
    <div class="col  d-flex justify-content-center">

      <ul class="footer-links">
        <h4>CityGetAway for Business</h4>
        <li><a href="#">Advertise on CityGetAway</a></li>
        <li><a href="#">Business Support</a></li>
        <li><a href="#">Contact Management</a></li>
      </ul>
    </div>
  </div>
  <div class="copyrights">
    <p> Copyright &copy; 2021 Irvin Rodriguez Demo</p>
  </div>
</footer>