<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>
<link rel="stylesheet" href="css/new.css">
<title>New</title>
</head>

<body>

  <%- include('partials/nav') %>
  <div class="container">

    <h1>Create New City Recommendation</h1>
    <form class='needs-validation' action="/vacations" method="post" enctype="multipart/form-data" novalidate>
      <div>
        <label for="city" class="form-label">City Name:</label>
        <input class="form-control" type="text" name="city" id="city" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>

      <div>
        <label for="state" class="form-label">Full State Name:</label>
        <input class='form-control' type="text" name="state" id="state" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
        <div class="invalid-feedback">
          This Is Required
        </div>
      </div>

      <div>
        <label for="imageURL" class="form-label">Image:</label>
        <input class='form-control' type="file" name="imageURL" id="imageURL" required>
        <!-- <div class="valid-feedback">
          Looks Good!
        </div>
        <div class="invalid-feedback">
          This Is Required
        </div> -->
      </div>
      <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </form>
  </div>
  
  <%- include('partials/footer') %>
  <script src="js/formValidation.js"></script>

</body>

</html>